/*
* @Author: Shinelon
* @Date:   2017-05-17 16:41:24
* @Last Modified by:   Shinelon
* @Last Modified time: 2017-09-10 16:35:36
*/
*{margin: 0px;
  padding: 0px;
  list-style: none;}
  .one{ width: 1214px;
  		height: 2000px;
	  	margin: 0px auto;
	   }
  .two{ width: 160px;
  		height: 2000px;
	    display: inline-block;
	    float: left;
	    position: fixed;
	    left: 152px;
	    top: 0px;}
  .there{ width: 1054px;
  		height: 2000px;
        background: #blue;	
	    display: inline-block;
	    float: left;
	    margin-left: 160px;
	    }
  .four{ width: 1050px;
  		height: 80px;
	  	background: red;
        position: fixed;
	    left: 312px;
	    top: 0px;
	    z-index: 1;}
  .two .logo{ width： 160px;
              height: 80px;    
              cursor: pointer;
  	       	  background: url(../img/logo.jpg) no-repeat center center #70bdb5;
       }
  .two h1 a{display: inline-block;
            width: 160px;
            height: 80px;}


       /*左边栏 */
  .two ul{
  	background: #e3e6e1;
  }
  .two ul li a{
                 display: block;
                 padding: 5px 29px 5px 20px;
                 text-decoration: none;

               }
  .two ul li a strong{
  	font-size: 13px;
  	
  	color: #000
  }        
  .two ul li a span{
  	font-size: 12px;
  	color: #999999;
  	display: block;
  	font-weight: 400;
  }
  .gdbj{
  	background-color: #333;

  }
   .two ul .gdbj a strong{
  	color: #fff;
  }
  .two1{
  	width： 160px;
    height: 80px;
  	cursor: pointer;
  	background: url(../img/dianwozixun.jpg) no-repeat center center;
  	-o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
  }
  .zengjiayanselei{
  	background: #d7dbd4;
  }
  .zengjiayanselei1{
  	background: #35384a;
  	color: #fff;
  }
  .two ul .zengjiayanselei1 .ziti{
  	color: #fff;
  }
  .two ul .zengjiayanselei1 .ziti1{
  	color: #fff;
  }
  .two ul li a{
  	color: red;
  }

  .two ul li a:hover{background: #333333;}
   .two ul li a:hover strong{color: #fff;}
   .two ul li a:hover span{color: #999999;}
   .two1:hover{background: url(../img/qqzx2_hover.jpg) no-repeat center center; -o-transition: all 1s ;
    transition: all 0.5s ease-in;} /* 覆盖原背景图片； */
   /* 上边栏 */
   .four ul{
   	width: 872px;
   	height: 80px;
   	padding-right: 22px;
   	background: #333;
   }
   .four ul li{
   	           display: inline-block;
   	           float: left;
   	           height: 80px;

   }
  .four ul li a{ 
                 display: block;
                 padding: 20px 18px 20px 18px;
                 text-decoration: none;

               }
.four ul li a span{
	font-size: 12px;
	font-weight: bold;
	color: #999999;
}
.four ul li a p{
	font-weight: bold;
	color: #fff;
}
.four1{
	width: 112px;
	height: 58px;
	float: left;
	margin: 11px 22px;
	
}
.four1 a span{
	margin-left: 15px;
}
.four ul{float: left;}
.four .four1 a{display: inline-block;
               color: #fff;
               font-size: 14px;
               text-decoration: none;}
.four .four1 a span{ font-size: 12px;
                     text-align: center;
                     }

.four ul li a:hover{ background: #666;}

/* 中心未固定内容 */

.five{
	margin-top: 80px;
	width: 1050px;
	height: 2000px;
	margin-top: 80px;
}
.seven{
	width: 1050px;
    height: 354px;
}
.six{
	width: 1032px;
    height: 1722px;
    background-color: #e3e6e1;
    margin: 22px 0px 50px 16px;
}
.six ul{display: inline-block;
	width: 894px;
    height: 1542px;
    margin: 70px 60px 70px 68px;

}
.six ul li{
	float: left;
    width: 290px!important;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 25px;
    
}
.six ul li a{
	display: inline-block;
	text-decoration: none;
}
.six ul li p{
	font-size: 14px;
    color: #646464;
    padding: 15px 0;
}
.six ul li a:hover{
	text-decoration: underline;
	text-shadow: 50%;

}
.six ul li a:hover img{
	box-shadow: 1px 1px 12px rgba(36,36,36,0.5);
    transition: all 0.5;
}



footer{
	background: #242424;
	margin-top: 178px;
	padding: 20px; 0px; 

}
footer .thirteen1{
	display: inline-block;
	margin-left: 300px;
}
footer .thirteen1 p span{
	color: #fff;
}
footer .thirteen1 p a{
    color: #fff;
    text-decoration: none;
    font-size: 14px	
}
footer .thirteen1 p a:hover{
	text-decoration: underline;
}
.zhuce{
	color: #a7b5b5;
	font-size: 14px;
}
footer .thirteen2{
	display: inline-block;
	margin-left: 120px;
}
footer .thirteen2 p{
    color: #fff;
    font-size: 14px;
}
footer .thirteen3{
	display: inline-block;
	margin-left: 130px;

}
footer .thirteen3 a{
	display: inline-block;
	width: 29px;
	height: 29px;
	margin: 0px 3px;
	cursor: pointer; 	
}
.baidu{
	background: url(../img/baidu.png) no-repeat center center;

}  
.weixin{
	background: url(../img/weixin.png) no-repeat center center;

}
.weibo{
	background: url(../img/weibo.png) no-repeat center center;

}
.baidu:hover{
	background: url(../img/baidu_h.png) no-repeat center center;

}
.weixin:hover{
	background: url(../img/weixin_h.png) no-repeat center center;


}
.weibo:hover{
	background: url(../img/weibo_h.png) no-repeat center center;

}
.wxsm{
	position: absolute;
    top: 1982px;
    left: 1156px;
    width: 160px;
	display: none;


}
#anniu{  display: block;
				width: 54px;
				height: 54px;
				border-radius: 50%;
				background-color: #ccc;
				background: url(../img/topback.png) center top no-repeat;
				position: fixed;
				z-index: 99999;
				right: 2%;
				top: 75%;
				/* opacity: 0; */
				display: none;
				transition: all 1s;}
	 	











